@import 'src/styles/variables.scss';

.text-media {
 display: flex;
 padding: 100px 0;
 justify-content: space-between;
 align-items: center;
 gap: 50px;
 max-width: 1300px;
 margin: 0 auto;
}
.text-media-text {
    flex: 0 1 500px;
    min-width: 300px;
}
.text-media-header {
    font-size: 40px;
    margin-bottom: 20px;
}
.text-media-body {
    font-size: 16px;
    line-height: 160%;
    color: $color-grey;
}
.text-media-image {
    img {
        border-radius: 10px;
    }
}