@import '../styles/variables.scss';

.avatar {
    text-align: center;
}

.avatar-image-container {

}

.avatar-image {
    border-radius: 100%;
}

.avatar-name {
    margin: 10px 0 5px 0;
}

.avatar-job-title {
    font-weight: 100;
    color: $color-grey;
}