@import "../styles/variables.scss";

.footer {
    background-color: $color-black;
    text-align: center;
    font-family: Heebo;
    font-weight: bold;
    font-size: 20px;
    color: $color-white;
    padding: 10px 0;
}

.footer-item {

}