.header-text {
 padding: 100px;
}

.header {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}

.body {
    color: gray;
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
    p {
        margin-bottom: 30px;
    }
}