.nav {
    background-color: #ffff;
    text-align: right;
    font-family: Heebo;
    font-weight: bold;
    color: black
}

.nav-item {
    margin-left: 33px;
}

.nav-item:last-child {
    margin-right: 60px;
}