@import 'src/styles/variables.scss';
.avatar {
    text-align: center;
}

.avatar-image {
    border-radius: 100%;
    max-width: 300px;
}

.avatar-header {
    margin: 10px 0 5px 0;
}

.avatar-sub-header {
    font-weight: 100;
    color: $color-grey;
}