@import 'src/styles/variables.scss';

.blog {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    height: 100%;
}

.blog-image {
    border-radius: 5px;
}

.blog-text {
    margin-left: 50px;
}

.blog-header {
    font-size: 20px;
    margin-bottom: 20px;
}

.blog-sub-header {
    font-weight: 100;
    color: $color-grey;
}