@import 'src/styles/variables.scss';

.blog {
    display: flex;
    align-items: center;
}

.blog-image {
    border-radius: 5px;
    min-width: 100px;
}

.blog-text {
    margin-left: 50px;
    max-width: 400px;
    min-width: 200px;
}

.blog-header {
    margin: 40px 0;
}

.blog-sub-header {
    font-weight: 100;
    color: $color-grey;
}